{{- partial "header.html" . -}}
<div class="mid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{- .Params.midh1 -}}</h1>
        {{- if isset .Params "midp" -}}<p>{{- .Params.midp -}}</p>{{- end -}}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Contents</h4>
      {{- .TableOfContents -}}
    </div>

    <div class="col-md-9 content">
    {{- .Content -}}
    </div>
  </div>
</div>
{{- partial "footer.html" . -}}
